<span>
    <a href=${pageUrl} ${target} #if (!$target) onclick="window.open('${pageUrl}', '', 'width=${width}, height=${height}, scrollbars=${scrollbars}, menubar=${menubar}, location=${location}, status=${status}'); return false;" #end>${linkText}
    </a>
</span>